{% extends '::base.html.twig'%}

{% block body %}

<div class="card"> 
<DIV style="position: absolute; top:50px; left:25%; width:50%;"> 
                        <div class="header"> 
                            <h2> 
                                BillaTraining 
                                <small>Pepper Horse file</small> 
                            </h2> 
                        </div> 
                        <div class="body"> 
                            <form> 
                                <div class="row clearfix"> 
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"> 
                                        <div class="form-group form-float"> 
                                            <div class="form-line"> 
                                                <input class="form-control" type="file"> 
                                                <label class="form-label">Training file</label> 
                                            </div> 
                                        </div> 
                                    </div> 
                                    <br> 
                                    <div class="row clearfix col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                                        <div class="form-group form-float"> 
										<DIV style="position: absolute; top:-25px;">
                                                <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect">Upload</button> 
                                        </div> 
                                    </div> 
 
                                    </div> 
                                </div> 
                            </form> 
                        </div> 
                    </div> 

</div>
{% endblock %}