<!DOCTYPE html>
<html lang="fr-FR">
	<head>
		<title>Lire et traiter un fichier excel en PHP</title>
		<meta charset="utf-8" />
	</head>
	<body>
	<?php
	require_once("CHEMIN/VERS/PHPExcel/Classes/PHPExcel/IOFactory.php");
	$document_excel = PHPExcel_IOFactory::load("CHEMIN/VERS/FICHIER/exemple.xls");
	$feuille = $document_excel->getSheet(0);
	$compte = 0;
	echo "<table>";
	foreach($feuille->getRowIterator() as $ligne){
		echo "<tr>";
		foreach($ligne->getCellIterator() as $cellule){
			if($compte == 0){
				echo "<th>";
			}else{
				echo "<td>";
			}
			echo $cellule->getValue();
			if($compte == 0){
				echo "</th>";
			}else{
				echo "</td>";
			}
		}
		echo "</tr>";
		$compte += 1;
	}
	echo "</table>";
	?>
	</body>
</html>
		